#wrapper{
  text-align: center;
  padding: 5rem;
}
.flex{
  margin-top: 0rem;
  display: flex;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table, td, th {
  border: 1px solid;
}
.src{
  padding: 10px;
  border-radius: 4px;
  width: 20rem;
}
.search{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.btn{
  padding: 4px;
  border-radius: 6px;
  background-color: rgb(47, 208, 15);
  color: whitesmoke;
}
.btn:hover{
  cursor: pointer;
  background-color: rgb(51, 0, 255);
}
li{
  margin-top: 1rem;
  list-style: none;
  max-width:30rem;
    word-wrap:break-word;
}
td{
  text-overflow: wrap;
  width: 5rem;
}